#offcanvas-search.chat-search.offcanvas-pane.width-8(ng:class="{active: enabled}")
  .offcanvas-head
    header.text-primary Search
    .offcanvas-tools
      a.btn.btn-icon-toggle.btn-default-light.pull-right(ng:click="close()")
        i.md.md-close
  .nano
    .nano-content(tabindex='0')
      .offcanvas-body.no-padding
        ul.list
          li.tile.divider-full-bleed
            .tile-content
              .tile-text
                strong A
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Alex Nelson
                small 123-123-3210
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Ann Laurens
                small 123-123-3210
          li.tile.divider-full-bleed(ng:click="open()")
            .tile-content
              .tile-text
                strong J
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Jessica Cruise
                small 123-123-3210
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Jim Peters
                small 123-123-3210
          li.tile.divider-full-bleed
            .tile-content
              .tile-text
                strong M
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Mabel Logan
                small 123-123-3210
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Mary Peterson
                small 123-123-3210
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Mike Alba
                small 123-123-3210
          li.tile.divider-full-bleed
            .tile-content
              .tile-text
                strong N
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Nathan Peterson
                small 123-123-3210
          li.tile.divider-full-bleed
            .tile-content
              .tile-text
                strong P
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Philip Ericsson
                small 123-123-3210
          li.tile.divider-full-bleed
            .tile-content
              .tile-text
                strong S
          li.tile(ng:click="open()")
            a.tile-content.ink-reaction( data-toggle='offcanvas', data-backdrop='false')
              .tile-icon
                img(src='https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg', alt='')
              .tile-text
                | Samuel Parsons
                small 123-123-3210
    .nano-pane
      .nano-slider